<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.user_title}} {{site.username}}</span>
        <span class="site-description">{{site.user_job_title}}</span>
      </h1>
      <div class="header-icons">
        <a rel="me" aria-label="Github" target="_blank" href="https://github.com/harshalsoman"><i class="icon fab fa-github" aria-hidden="true"></i></a>
        <a rel="me" aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/harshal-soman-ab21b3192/"><i class="icon fab fa-linkedin" aria-hidden="true"></i></a>
        <!-- <a rel="me" aria-label="XING" target="_blank" href="https://xing.to/dhaitz"><i class="icon fab fa-xing" aria-hidden="true"></i></a>
        <a rel="me" aria-label="Medium" target="_blank" href="https://towardsdatascience.com/@d_haitz"><i class="icon fab fa-medium" aria-hidden="true"></i></a> -->
        </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About</a>
        ·
        <a class="link" href="#projects" data-scroll>Projects</a>
        ·
        <a class="link" href="https://drive.google.com/file/d/12HqgaHoBQQiAMuD1gwo4vqfB5fGUb23x/view?usp=drive_link" data-scroll>Resume</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
