<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.user_title}} {{site.username}}</span>
        <!-- <span class="site-description">{{site.user_job_title}}</span> -->
        <span class="site-description" id="jobTitle">Aspiring Data Scientist</span>
      </h1>
      <div class="header-icons">
        <a aria-label="E-Mail" href="mailto:hsoman3@uic.edu"><i class="icon fas fa-envelope"></i></a>
        <a rel="me" aria-label="Github" target="_blank" href="https://github.com/harshalsoman"><i class="icon fab fa-github" aria-hidden="true"></i></a>
        <a rel="me" aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/harshal-soman-ab21b3192/"><i class="icon fab fa-linkedin" aria-hidden="true"></i></a>
        <!-- <a rel="me" aria-label="XING" target="_blank" href="https://xing.to/dhaitz"><i class="icon fab fa-xing" aria-hidden="true"></i></a>
        <a rel="me" aria-label="Medium" target="_blank" href="https://towardsdatascience.com/@d_haitz"><i class="icon fab fa-medium" aria-hidden="true"></i></a> -->
        </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About</a>
        ·
        <a class="link" href="#projects" data-scroll>Projects</a>
        ·
        <a class="link" href="https://drive.google.com/file/d/1APRJBzVxuTqC5TGgkp5Q3t-Rix45ugQl/view?usp=sharing" target="_blank">Resume</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
