<div class="user-details">
  <h1> Featured Projects </h1>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="wrting" src="{{ "/assets/img/bert.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Bert Project </h3>
    <p>This project leverages BERT to process and analyze textual data from Virginia Woolf’s novels. By focusing on tokenization, embeddings, and semantic similarity measures, the project identifies and measures semantic similarities between various parts of Woolf’s texts. </p>
      <p align="center"><a class="project-link" href="https://github.com/harshalsoman/BertProject" target="_blank">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mplcyberpunk" src="{{ "/assets/img/colormap.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left" style="margin: 0; top: 50%">
    <h3> GitHub Projects </h3>
    <p> I'm hosting a number of smaller projects on GitHub.
    Feel free to have a look around.
      </p>
      <p align="center"><a class="project-link" href="https://github.com/harshalsoman">Check it out</a></p>
  </div>
</div>

<!-- <div class="user-projects">

  <div class="images-right">
    <img alt="galaxy" src="{{ "/assets/img/galaxy.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>Interactive 3D Graph</h3>
    <p>Discover the structure of Wikipedia by flying around like you're in a spaceship.
      Based on public page link data and free graph software.</p>
      <p align="center"><a class="project-link" href="https://dhaitz.github.io/graph-visualization/#/galaxy/wikipedia?cx=-705&cy=-9206&cz=-9978&lx=0.4772&ly=0.7270&lz=-0.4743&lw=0.1367&ml=450&s=1.75&l=1&v=500_000_links">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="particle-physics" src="{{ "/assets/img/s-bahn-hamburg.gif" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3> Public Data Visualizations</h3>
    <p>Occasionally, I create visualizations of public data, e.g. maps, traffic data or election results.
	    This includes interactive websites for e.g. town names or carsharing prices.
     </p>
    <p align="center">
      <a class="project-link" href="https://instagram.com/dhaitz_data">Dataviz Instagram</a>
      <a class="project-link" href="https://ortsnamen.herokuapp.com">Town name suffix maps</a>
      <a class="project-link" href="https://carsharing-hh.herokuapp.com">Hamburg carsharing price comparison</a>
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="machine-learning-visualization" src="{{ "/assets/img/ml_visualization.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Interactive Visualization of Machine Learning Evaluation Metrics </h3>
    <p>
      A dashboard to play around with and observe the effects of class imbalance or model strength on evaluation metrics.
		  This project made it into the official <a href="https://voila-gallery.org/services/gallery/">Voila gallery</a>.
    </p>
    <p align="center"><a class="project-link" href="https://machine-learning-visualization.herokuapp.com">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="reading" src="{{ "/assets/img/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Data Science Links </h3>
    <p>
      I maintain a collection of articles which I've found helpful in my professional development, especially in my data science journey.
      Feel free to contribute.
      In addition, I've compiled a list of data science aphorisms on twitter.
    </p>
    <p align="center">
      <a class="project-link" href="https://data-science-links.netlify.app">Article List</a>
      <a class="project-link" href="https://twitter.com/i/events/1255884468402913282">"Data Science Wit and Wisdom"</a>
    </p>
  </div>
</div>



<div class="user-projects">
  <div class="images-left">
    <img alt="twitter-bot" src="{{ "/assets/img/twitter-bot.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3>"Cognitively Biased" </h3>
    <p>To remind us humans about all the subconscious flaws in our reasoning, I've created "Cognitively Biased",
      a Twitter bot that tweets one entry from Wikipedia's list of cognitive biases every day.
     </p>
    <p align="center"><a class="project-link" href="https://twitter.com/cog_biased">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="twitter-bot" src="{{ "/assets/img/mpl-style.gif" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-left">
    <h3>Matplotlib Style Tools </h3>
    <p>I've built several websites to help people create more aesthetically pleasing graphs:
      The Matplotlib Style Configurator to interactively explore the effects of different parameter changes,
      the Matplotlib Style Poll to vote for your favorite style and discover new ones,
      and the interactive Matplotlib colormap generator.
     </p>
     <p align="center">
       <a class="project-link" href="http://matplotlib-style-configurator.herokuapp.com">Style Configurator</a>
       <a class="project-link" href="http://matplotlib-style-voting.herokuapp.com">Style Voting</a>
       <a class="project-link" href="https://share.streamlit.io/dhaitz/colormap-creator/main/app.py">Colormap Generator</a>
     </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="stock-art" src="{{ "/assets/img/stock-art.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3> Artistic Stock Price Chart Generator </h3>
    <p>
      An interactive online tool to embed stock price chart (for various companies) as a mountain range silhouette in a photo.
      The screenshot shows 10 years of Apple.
     </p>
    <p align="center">
      <a class="project-link" href="http://stock-chart-art.herokuapp.com">Check it out</a>
    </p>
  </div>
</div>

  <div class="user-projects">
    <div class="images-right">
      <img alt="particle-physics" src="{{ "/assets/img/particle-physics.png" | prepend: site.baseurl }}"/>
    </div>
    <div class="contents-left">
      <h3> Particle Physics </h3>
      <p>In my PhD thesis, I've analyzed proton collisions at CERN's Large Hadron Collider to derive insights on the structure of matter.
        At the same time, I've co-written the ARTUS framework for data analysis in high-energy physics.
        Its architecture and design principles are described in a separate paper.
       </p>
      <p align="center">
      <a class="project-link" href="https://ekp-invenio.physik.uni-karlsruhe.de/record/48801/files/EKP-2016-00013.pdf" >Thesis</a>
      <a class="project-link" href="https://arxiv.org/abs/1511.00852">ARTUS Paper</a>
      </p>
    </div>
  </div>

  <div class="user-projects">
    <div class="images-left">
      <img alt="reading" src="{{ "/assets/img/dariusz-sankowski-dvK_CT1Wg78-unsplash.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Other Interests </h3>
      <p>
        Apart from data and technology, my hobbies include photography and literary writing.
      </p>
      <p align="center">
        <a class="project-link" href="http://www.dominikhaitz.de">Photography Page</a>
        <a class="project-link" href="https://beschriftet.jimdofree.com/mitglieder/dominik-haitz/">Author Information</a>
      </p>
    </div>
  </div> -->

</div>
